.image-row{
  background-image: url(top-image.png);
  min-height: 41vh;
  background-size: contain;
}

.little-red-row{
  background-color: #e0301e;
  min-height: 14vh;
}

.icon-row{
  background-color: white;
  min-height: 32vh;
}

.red-button{
  background-color: #e0301e;
}

/* .red-arrow{
  background-color: #e0301e;
} */

.first-image-row{
  background-color: #f7f7f7;
  min-height: 40vh;
}